<app-modal [template]="greet"></app-modal>
<ng-template #greet><div>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo earum ullam, numquam harum natus quod nostrum cum! Alias sunt perspiciatis modi aliquam sit error, eos, quasi dolor, veniam libero nihil! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis, consectetur hic autem, dolorem provident reprehenderit accusantium quod quo architecto quas distinctio voluptatibus officiis dignissimos consequuntur culpa temporibus ipsam debitis! Placeat.</div></ng-template>
<div class="w-full h-screen overflow-hidden">
  <messenger-header></messenger-header>
  <div class="flex max-h-full">
    <div class="max-w-xs min-w-min overflow-y-auto max-h-full">
      <messenger-chats></messenger-chats>
    </div>
    <div class="flex-1">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
