<div class="main-container w-full   flex flex-col justify-center text-white h-screen bg-right bg-no-repeat">
  <div class="sub-container flex items-start flex-col gap-7 lg:pl-24 pl-12">
    <h3 class="label font-medium text-2xl">Check your feed</h3>
    <div class="flex gap-0 text-4xl md:text-7xl">
      <h1 class="title font-bold">Login to your account</h1>
      <h1 class="title point font-bold flex-grow text-primaryBlue">.</h1>
    </div>
    <h4 class="sub-note font-normal text-base">
      New here ? Register <a [routerLink]="'/register'" class="text-primaryBlue">here</a>
    </h4>
    <form class="flex flex-col gap-6 w-1/3" [formGroup]="signinForm" (ngSubmit)="onSubmit()">
      <div class="mail">
        <app-standard-input type="email" label="Email" formControlName="email"
          [formElement]="formElement('email')"></app-standard-input>
      </div>
      <div class="mail">
        <app-standard-input type="password" label="Password" formControlName="password"
          [formElement]="formElement('password')"></app-standard-input>
      </div>
      <!-- Submit Errors section -->
      <div *ngIf="errorMessage" class="flex flex-col gap-2">
        <div class="flex gap-2 items-center">
          <hero-icon name="exclamation-circle" size="sm" class="text-red-400"></hero-icon>
          <p class="text-sm text-red-400">
            {{ errorMessage }}
          </p>
        </div>
      </div>
      <div class="btn md:w-full">
        <app-button [type]="'primary'" [text]="'Login'"></app-button>
      </div>
    </form>
  </div>
</div>