<section class="pb-5 border-r border-secondaryBg flex scrollable-container">
    <div class="flex flex-col flex-1 relative">
        <div #messagesContainer infiniteScroll [threshold]="400" (onReachedEnd)="getMessages()"
            class="flex flex-col-reverse gap-5 p-7 overflow-y-auto flex-1 scrollbar pt-28">
            <messages-block *ngFor="let block of messages; let first = first" [messages]="block"
               (openImage)="openImageViewer($event)" [shouldMarkAsSeen]="first" [chat]="chat">
            </messages-block>
            <!-- Loader  -->
            <app-loader *ngIf="(!chat || chat.hasMore) && loading"></app-loader>
            <div *ngIf="(chat && !chat.hasMore) || !loading"></div>

            <!-- End of discussion -->
            <div *ngIf="chat && !chat.hasMore" class="flex items-center gap-2 justify-center pb-28">
                <hero-icon name="check-circle" type="outline" class="w-5 h-5 text-primaryBlue"></hero-icon>
                <span class="text-primaryBlue">No more messages</span>
            </div>

            <!-- Chat name and Photo Section -->
            <div *ngIf="chat && !chat.hasMore" class="flex-center flex-col gap-5 mt-24">
                <app-user-avatar [profile]="(chat | chatProfiles)[0]" size="5rem">
                </app-user-avatar>
                <div class="flex flex-col gap-2 items-center line-clamp-1">
                    <h1 class="text-xl font-medium">{{ chat | chatName }}</h1>
                </div>
            </div>
        </div>
        <div
            class="flex absolute left-0 top-0 bg-primaryBg/80 backdrop-blur-lg p-6 py-4 items-center justify-between text-xl font-medium w-full shadow-md">
            <h1 [ngClass]="{
                'bg-gray-400 text-gray-400 animate-pulse w-44 rounded': !chat
            }">{{ (chat | chatName) || '*'}}</h1>
            <div title="Open Settings"
                class="hidden lg:flex items-center justify-center p-1 transition-colors cursor-pointer hover:bg-secondaryBg rounded-full">
                <hero-icon (click)="toggleSettings()" name="information-circle" type="outline"
                    class="w-8 h-8 text-primaryBlue">
                </hero-icon>
            </div>
        </div>
        <chat-input></chat-input>
    </div>
    <messages-settings *ngIf="chat" [chat]="chat" [toggle]="!!(settings && chat)"></messages-settings>
</section>
<app-image-viewer (onClose)="closeImageViewer()" [src]="imageViewerSrc" [isVisible]="imageViewer"></app-image-viewer>