<form (submit)="sendMessage()" class="flex gap-6 h-20 pt-5 px-7 items-center">
    <hero-icon name="paper-clip" type="outline" class="w-6 h-6 text-primaryBlue cursor-pointer hover:scale-110">
    </hero-icon>
    <hero-icon name="microphone" type="outline" class="w-6 h-6 text-primaryBlue cursor-pointer hover:scale-110">
    </hero-icon>
    <input autocomplete="off" name="message" [(ngModel)]="message" class="h-12 rounded-2xl w-full bg-secondaryBg outline-none px-5" placeholder="Aa">
    <hero-icon (click)="sendMessage()" name="paper-airplane" type="outline" class="w-6 h-6 text-primaryBlue cursor-pointer hover:scale-110 rotate-90">
    </hero-icon>
</form>