<div class="w-screen h-40 md:h-60">
  <div class="relative w-full h-full">
    <img 
      [src]="profile?.cover | fullUrl | safeResourceUrl"
    class="w-full h-full object-cover bg-gray-800" alt="cover image">
    <div *ngIf="me" class="flex-center absolute top-4 right-4">
      <hero-icon name="camera" type="outline" class="w-8 h-8 text-teritiaryBg p-1 bg-white/50 cursor-pointer hover:bg-white/80 transition-colors rounded-full"
        (click)="fileInput.click()"></hero-icon>
      <input type="file" name="cover" #fileInput (change)="uploadFile($event)" accept="image/*" hidden>
    </div>
  </div>
  <div class="flex flex-col mx-auto max-w-4xl w-full p-2">
    <div class="flex flex-col md:flex-row gap-4">
      <div class="relative -top-10">
        <app-avatar [me]="me" [profile]="profile" (fileChanged)="uploadFile($event)"></app-avatar>
      </div>
      <div class="flex flex-1 items-center md:max-h-24 p-4 justify-between">
        <div>
          <h1 *ngIf="profile" class="md:text-4xl text-2xl font-bold tracking-wide">
            {{ profile.firstName + ' ' + profile.lastName }}
          </h1>
          <p>{{ profile.gender }}</p>
        </div>
        <div class="flex gap-5 items-center" *ngIf="!me">
          <div (click)="sendFriendRequest()"
            class="p-2 hover:bg-slate-700 transition-colors flex-center rounded-full cursor-pointer">
            <hero-icon name="user-add" type="outline" class="w-8 h-8 text-primaryBlue translate-x-[2px]">
            </hero-icon>
          </div>
          <div (click)="openChat()"
            class="p-2 hover:bg-slate-700 transition-colors flex-center rounded-full cursor-pointer">
            <hero-icon name="chat" type="solid" class="w-8 h-8 text-transparent fill-primaryBlue">
            </hero-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>