<div class="w-full overflow-x-hidden h-full min-h-screen">
  <messenger-header [title]="'Profile'"></messenger-header>
  <div class="flex relative">
    <app-cover [profile]="profile" [me]="me"></app-cover>
  </div>
  <div class="w-full flex flex-row gap-4 max-w-4xl mx-auto mt-48">
    <div class="flex max-w-md w-full">
      <div class="bg-fadedBlue w-full p-6 rounded-xl shadow-md h-fit">
        <p class="text-lg font-semibold mb-5">Friends</p>
        <div class="flex justify gap-2 flex-wrap justify-center">
          <div *ngFor="let member of friends" class="flex flex-col items-center gap-2 w-16">
            <app-user-avatar 
            [routerLink]="['/profile', member.id]"
            [profile]="member" size="2.5rem" class="cursor-pointer">
            </app-user-avatar>
            <div class="flex flex-col gap-1">
              <span class="text-sm text-primaryBlue line-clamp-1">{{member.firstName}}</span>
            </div>
          </div>
          <div *ngFor="let i of (friends.length == 0 ? [1,2,3,4,5,6] : [])"
            class="w-12 h-12 bg-blue-600 rounded-full animate-pulse">
          </div>
        </div>
      </div>
    </div>
    <div class="flex-1">
      <app-post></app-post>
    </div>
  </div>
</div>