/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'Inter';
    src: url(assets/fonts/inter/Inter-Regular.ttf);
}
body{
    margin:0;
    padding: 0;
}
*{
    font-family: 'Inter';
}