<section class="px-3 md:px-7 p-7 pb-5 border-r max-w-sm md:w-96 border-secondaryBg flex flex-col scrollable-container gap-2">
    <div class="flex justify-between items-center">
        <h1 class="text-xl">Chats</h1>
        <hero-icon name="plus" hostDisplay="inlineBlock" type="outline" class="w-5 h-5 text-primaryBlue"></hero-icon>
    </div>
    <div class="hidden md:flex gap-2 py-5">
        <filter-button [toggled]="true" [title]='"Open"'></filter-button>
        <filter-button [toggled]="true" [title]='"Closed"'></filter-button>
        <filter-button [toggled]="false" [title]='"Unread"'></filter-button>
    </div>
    <div class="flex flex-col gap-5 p-7 my-0 -m-7 overflow-y-auto flex-1 scrollbar">
        <chat-item *ngFor="let chat of chats" [chat]="chat"></chat-item>
    </div>
    <button class="hidden md:block w-full py-4 rounded-2xl bg-fadedBlue text-primaryBlue">
        Send Feedback
    </button>
</section>