<div class="flex flex-col items-center justify-center h-full">
    <div class="flex flex-col items-center justify-center">
        <hero-icon name="chat-alt-2" class="w-32 h-32 text-gray-100"></hero-icon>
        <div class="flex flex-col items-center justify-center">
            <h1 class="text-3xl font-bold text-gray-100">No Chat Selected</h1>
            <p class="text-gray-400 pt-1">
                Start a conversation by adding new friends or by opening an existing one from the menu.
            </p>
        </div>
    </div>
</div>